* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: red;
}
a:hover{
    color: blue;
}
.content {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: white;
}
.headline {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 48px;
}
.list {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}